
html,
body {
    height: 100%
}
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #414141;
    text-align: center;
}

@media (min-width: 768px) {
    body {
        background-image: url(bg2.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
